{% extends 'core_app/base.html' %}
{% load static %}
{% block title %}ZAN | Add New Product{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core_app/css/add_product.css' %}">
{% endblock %}

{% block content %}
<div class="add-product-container">
    <h2 class="add-product-title">{% if is_edit %}Edit Product{% else %}List New Product{% endif %}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <!-- Multiple Gallery Images Input -->
        <p>
            <label for="id_gallery">Additional Gallery Images:</label>
            <input type="file" name="gallery_images" id="id_gallery" class="form-input" multiple>
        </p>

        <div class="add-product-actions">
            <button type="submit" class="btn-gold add-product-submit">{% if is_edit %}Save Changes{% else %}Publish Product{% endif %}</button>
            {% if request.user.role == 'ADMIN' %}
                <a href="{% url 'admin_dashboard' %}" class="add-product-cancel">Cancel</a>
            {% else %}
                <a href="{% url 'seller_dashboard' %}" class="add-product-cancel">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}