{% extends 'core_app/base.html' %}
{% load static %}

{% block title %}ZAN | Account Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core_app/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Client Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" class="btn-gold auth-submit">Sign In</button>
    </form>
    <p class="auth-prompt">
        Don't have an account? <a href="{% url 'register' %}" class="auth-link">Register here</a>.
    </p>
</div>
{% endblock %}